.container {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .main {
    background-color: var(--primary-color);
    width: 1200px;
    padding: 50px 30px;
    color: var(--font-color);
  }
}
