.album-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;


    .cover{
        border-radius: 10px;
    }
    
  

    .title{
        font-size: 16px;
        color: var(--font-color);
        width: 150px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 10px;
   
      
       
    }
}