.limit-box{
    padding: 8px 10px;
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    display: flex;
    gap: 8px;
    width: fit-content;


    .limit{
        cursor: pointer;
    }
}